<%- include("includes/head"); %>
<%- include("partials/header"); %>

<div class="createProducts">
    <h1>Criar Produtos</h1>

    <form action="/products/create" method="POST">
        <div class="form-outline mb-4">
          <input type="text" name="name" class="form-control" />
          <label class="form-label">Produto</label>
        </div>
        <div class="form-outline mb-4">
          <input type="text" name="image" class="form-control" />
          <label class="form-label">Url Imagem</label>
        </div>
        <div class="form-outline mb-4">
          <input type="text" name="price" class="form-control" />
          <label class="form-label">Preço do Produto</label>
        </div>
        <div class="form-outline mb-4">
          <input type="text" name="description" class="form-control" />
          <label class="form-label">Descrição</label>
        </div>
        <button type="submit" class="btn btn-danger btn-block">Cadastrar</button>
      </form>
</div>

<%- include("includes/footer"); %>