<aside>
    <div class="menu-container">
        <h1>TASK - NODE MVC</h1>
        <ul>
            <li><a href="/tasks">Tarefas</a></li>
            <li><a href="/tasks/add">Criar Tarefa</a></li>
        </ul>
    </div>
</aside>