<aside>
    <div class="menu-container">
        <ul>
            <li><a href="/">Ver Usuários</a></li>
            <li><a href="/users/create">Cadastrar Usuários</a></li>
        </ul>
    </div>
</aside>