<%- include("includes/head"); %>
<%- include("partials/header"); %>

<h1>Cadastre o Seu Livro</h1>

<form action="/books/insertbook" method="POST">
    <div class="form-control">
        <label for="title">Titulo</label>
        <input type="text" name="title" placeholder="Digite o titulo.">
    </div>
    <div class="form-control">
        <label for="pagesqty">Numero de Páginas</label>
        <input type="number" name="pagesqty" placeholder="Digite a quantidade de paginas.">
    </div>
    <input id="cadastrar" type="submit" value="Cadastrar">
</form>

<%- include("includes/footer"); %>